@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: #142D38;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.body {
  text-align: center;
  background-color: #f8fcf9;
  width: 100%;
  flex: 1 0;
}

div.footer {
  flex-shrink: 0;
  color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #142D38;
  background-size: cover;
  background-position: center bottom ;
}
