<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RFC 0001 Private fields</title>
  <link rel="stylesheet" type="text/css" href="rfcs.css">
  <link rel="icon" href="assets/rust-favicon.png">
  <meta name="author" content="Nick Cameron">
  <meta name="description" content="A curated index of Rust RFCs.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="body">
    <div class="rfc-body">
      <h1>{{number}}: {{title}}</h1>
      {{{rfc_text}}}
    </div>
  </div>
  <div class="footer">Copyright 2021 Nick Cameron and the RFC authors.</div>
</body>
</html>
